.example-action-buttons {
    padding-bottom: 20px;
  }
  
  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  .mat-expansion-panel-header-description {
    flex-grow: 1;
  }

  .tb {
      width: 100%;
  }

  ::ng-deep .mat-expansion-panel-header  {
    padding-left: 0 !important;
    > span {
      overflow: visible !important;
    }
  }

  .marker {
    display: block;
    height: calc(100% + 48px);
    overflow: visible;
    margin-top: -24px;
    width: 4px;
    margin-right: 20px;

    &.TEE {
      background-color: blue;
    }

    &.PERSON {
      background-color: yellow;
    }

    &.BRAND {
      background-color: red;
    }

    &.UNWETTER {
      background-color: green;
    }

  }