<div class="container">
    <div class="row">
        <div class="col">
            <br>
        </div>
    </div>
    <div class="row">
        <mat-form-field class="col-12 col-md-6 col-lg-4 col-xl-3 example-form-field" >
            <mat-label>Suche</mat-label>
            <input matInput type="text" [(ngModel)]="filterText">
            <button *ngIf="filterText" matSuffix mat-icon-button aria-label="Clear" (click)="filterText=''">
            <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        
        <mat-form-field *ngIf="einsatzTypen && einsatzTypen.length > 1" class="col-12 col-md-6 col-lg-4 col-xl-3 example-form-field">
            <mat-label>Einsatzart</mat-label>
            <mat-select [(value)]="selectedEinsatzType">
              <mat-option>Keine Angabe</mat-option>
              <mat-option *ngFor="let et of einsatzTypen" [value]="et">{{et.text}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="feuerwehren && feuerwehren.length > 1" class="col-12 col-md-6 col-lg-4 col-xl-3 example-form-field">
            <mat-label>Feuerwehr</mat-label>
            <mat-select [(value)]="selectedFeuerwehr">
              <mat-option>Keine Angabe</mat-option>
              <mat-option *ngFor="let ff of feuerwehren" [value]="ff">{{ff.fwname}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="orte && orte.length > 1" class="col-12 col-md-6 col-lg-4 col-xl-3 example-form-field">
            <mat-label>Ort</mat-label>
            <mat-select [(value)]="selectedOrt">
              <mat-option>Keine Angabe</mat-option>
              <mat-option *ngFor="let ort of orte" [value]="ort">{{ort}}</mat-option>
            </mat-select>
        </mat-form-field>

          <mat-form-field *ngIf="listType != CURRENT" class="col-12 col-md-6 col-lg-4 col-xl-3 example-form-field">
            <mat-label>Status</mat-label>
            <mat-select [(value)]="selectedStatus">
              <mat-option>Keine Angabe</mat-option>
              <mat-option value="offen">Offen</mat-option>
              <mat-option value="abgeschlossen">Abgeschlossen</mat-option>
            </mat-select>

          </mat-form-field>
    </div>

    <div class="row justify-content-center" *ngIf="!(einsaetze2 | async)">
        <div class="col-1">
            <mat-spinner ></mat-spinner>

        </div>

    </div>


    <div class="row justify-content-center" *ngIf="(einsaetze2 | async)">
        <div class="col-12">
            <mat-chip-list *ngIf="einsaetze2">
                
                <mat-chip color="primary" selected *ngIf="overView?.cnt_einsaetze">{{overView?.cnt_einsaetze}}
                    <ng-container *ngIf="(overView)?.cnt_einsaetze! !== 1">Einsätze</ng-container>
                    <ng-container *ngIf="(overView)?.cnt_einsaetze! === 1">Einsatz</ng-container></mat-chip>
                <mat-chip color="primary" selected *ngIf="overView?.cnt_feuerwehren">{{overView?.cnt_feuerwehren}} 
                    <ng-container *ngIf="(overView)?.cnt_feuerwehren! !== 1">Feuerwehren</ng-container>
                    <ng-container *ngIf="(overView)?.cnt_feuerwehren! === 1">Feuerwehr</ng-container></mat-chip>
            </mat-chip-list>
            <br/>
        </div>
        <div class="col-12">
            <mat-accordion class="example-headers-align" togglePosition="after">
                <mat-expansion-panel disabled>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                          <div class="marker"></div>
                        Ort
                      </mat-panel-title>
                      <mat-panel-description>
                        Einsatzart
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                  </mat-expansion-panel>
                  <mat-expansion-panel disabled *ngIf="filterList((einsaetze2 | async))?.length == 0">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                          <div class="marker"></div>
                        Keine Daten für den eingestellten Zeitraum oder mit den Filtern
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                  </mat-expansion-panel>
                <mat-expansion-panel *ngFor="let item of filterList((einsaetze2 | async))" [expanded]="selectedEinsatz === item.num1" (afterExpand)="selectedEinsatz = item.num1" (closed) = "selectedEinsatz = undefined">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div [class]="'marker ' + item.einsatzart"></div>
                        <ng-container *ngIf="!(isHandset$ | async)">
                            {{!isToday(item.startzeit) ? (item.startzeit | date: 'short') : (item.startzeit | date: 'shortTime')}}&nbsp;-&nbsp;
                        </ng-container>
                        
                     {{item.adresse.emun === undefined || item.adresse.emun === '' ? item.bezirk.text : item.adresse.emun}}
                    </mat-panel-title>
                    <mat-panel-description>
                    {{(isHandset$ | async) ? isTooLong(item.einsatzsubtyp.text, item.einsatzart) : item.einsatzsubtyp?.text}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <table class="tb">
                    <tr>
                        <th>Adresse</th>
                        <td>{{item.adresse.default}}{{item.adresse.ecompl ? ' / ' + item.adresse.ecompl : ''}}</td>
                    </tr>
                    <tr *ngIf="item.adresse.earea">
                        <th>Gebiet</th>
                        <td>{{item.adresse.earea}}</td>
                    </tr>
                    <tr>
                        <th>Gemeinde</th>
                        <td>{{item.adresse.emun ?? 'Keine Angabe'}}</td>
                    </tr>
                    <tr>
                        <th>Alarmstufe</th>
                        <td>{{item.alarmstufe}}</td>
                    </tr>
                    <tr>
                        <th>Bezirk</th>
                        <td>{{item.bezirk.text}}</td>
                    </tr>
                    <tr>
                        <th>Feuerwehren</th>
                        <td>{{item.cntfeuerwehren}}</td>
                    </tr>
                    <tr>
                        <th>Einsatzort</th>
                        <td>{{item.einsatzort}}</td>
                    </tr>
                    <tr>
                        <th>Einsatzart</th>
                        <td>{{item.einsatzart}}</td>
                    </tr>
                    <tr>
                        <th>Einsatztyp</th>
                        <td>{{item.einsatztyp.text}}</td>
                    </tr>
                    <tr>
                        <th>Einsatzsubtyp</th>
                        <td>{{item.einsatzsubtyp.text}}</td>
                    </tr>
                    <tr *ngFor="let f of item.feuerwehrenarray; let i = index">
                        <th *ngIf="i === 0">Feuerwehren</th>
                        <td *ngIf="i !== 0"></td>
                        <td>{{f.fwname}}</td>
                    </tr>

                    <tr>
                        <th>ID</th>
                        <td>{{item.num1}}</td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td>{{item.status}}</td>
                    </tr>
                    <tr>
                        <th>Start </th>
                        <td>{{item.startzeit | date: 'medium'}}</td>
                    </tr>

                    <tr *ngIf="item.inzeit">
                        <th>Ende</th>
                        <td>{{item.startzeit | date: 'medium'}}</td>
                    </tr>
                  </table>
                  <mat-action-row>
                    <a href="https://www.google.com/maps/place/@{{item.wgs84.lat}},{{item.wgs84.lng}}" target="_blank" mat-button color="accent">Maps</a>
                    <button mat-button color="primary">End</button>
                </mat-action-row>
                </mat-expansion-panel>
            </mat-accordion>        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <br>
        </div>
    </div>
</div>