  <app-navigation>
      <nav-list>
          <a mat-list-item [routerLink]="[nav.CURRENT]" routerLinkActive="active"><span matBadgeOverlap="false" [matBadge]="laufend | async">Laufende Einsätze</span></a>
          <a mat-list-item [routerLink]="[nav.LAST_6_HOURS]"   routerLinkActive="active"><span matBadgeOverlap="false" [matBadge]="last6 | async">Letze 6 Stunden</span></a>
          <a mat-list-item [routerLink]="[nav.TODAY]"   routerLinkActive="active"><span matBadgeOverlap="false" [matBadge]="today | async">Aktueller Tag</span></a>
          <a mat-list-item *ngIf="true" [routerLink]="[nav.LAST_2_DAYS]"  routerLinkActive="active"><span matBadgeOverlap="false" [matBadge]="last2 | async">Letzten 2 Tage</span></a>
      </nav-list>
      <nav-other>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Bezirk</mat-label>
          
          <mat-select placeholder="Bezirk" [(ngModel)]="selectedBezirk" name="bezirk">
          
          
          <mat-option *ngFor="let bz of bezirke" [value]="bz.id">
            {{bz.text}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      </nav-other>
      <nav-title>
          <span>
          Alarme OÖ
          </span>
      </nav-title>
      <router-outlet>
      </router-outlet>
  
      <mat-toolbar color="primary">
          <div class="footer-links">
          </div>
      </mat-toolbar>
  </app-navigation>