.toolbar-mobile {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  
  }
  .mat-toolbar.mat-primary {
    position: relative;
    top: 0;
    z-index: 1;
  
    &.mobile {
      position: sticky;
  
    }
  }
  .toolbar {
    display: flex;
    justify-content: center;
    &.mobile {
      justify-content: space-between;
      flex-direction: row-reverse;
    }
  }
.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: relative;
    top: 0;
    z-index: 1;
  
    &.mobile {
      position: sticky;
  
    }
  }

  .mat-list-base {
      padding-top: 0;
  }