<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false"
        [position]="(isHandset$ | async) ? 'end' : 'start'">
      <div class="sidenav-content">
        <div>
          
          <mat-toolbar [ngClass]="{'toolbar-mobile': (isHandset$ | async), 'toolbar': !(isHandset$ | async), 'mobile': (isHandset$ | async)}" >
            <button
              type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()"
              *ngIf="isHandset$ | async">
              <mat-icon aria-label="Side nav toggle icon">close</mat-icon>
            </button>
          </mat-toolbar>
          <mat-nav-list>
            <ng-content
              select="nav-list, [nav-list], [navList]"
            ></ng-content>
          </mat-nav-list>
          <ng-content
            select="nav-other, [nav-other], [navOther]"
          ></ng-content>
        </div>
        <div>
          <mat-toolbar class="center">
          </mat-toolbar>
        </div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar class="mat-elevation-z4" [ngClass]="{'toolbar-mobile': (isHandset$ | async), 'mobile': (isHandset$ | async)}" color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <div >
          <ng-content
          select="nav-title, [nav-title], [navTitle]"
          ></ng-content>
        </div>
      </mat-toolbar>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
  